            
                  <% if (currentUser){ %>
                        <a id="logout-btn" href="/logout"><i class="fas fa-sign-out-alt"></i></a>
                  <% } %>

            </div>
            <footer>
                  © 2020 Brendan Nijboer
            </footer>
      </body>
</html>