            
                  <% if (currentUser){ %>
                        <a id="logout-btn" href="/logout" onclick="return confirm('Are you sure you want to logout?')"><i class="fas fa-sign-out-alt"></i></a>
                  <% } %>

            </div>
            <footer>
                  © 2020 Brendan
            </footer>
      </body>
</html>