            </div>
            <footer class="d-flex justify-content-between">
                  <div><a id="go-back" href="/posts">Go back</a></div>
                  <div id="copyright">© BN 2020&nbsp;</div>
            </footer>
      </body>
</html>