<%- include("partials/header") %>

<div class="container col-sm-12 col-lg-7">
      <div class="section-title">
            About
      </div>
      <div class="content desc p-5">
            <p>
                  Hi! I am Brendan, a dedicated aficionado of a wide variety of electronic music.
            </p>
            <p>
                  I started this blog as a means of testing my web development skills, but also as a long-held passion to share the music that I love with the world.
            </p>
            <p>
                  Stay tuned and immerse yourself in rhythm and atmosphere.
            </p>
      </div>
</div>


<%- include("partials/footer") %>