<%- include("partials/header") %>

<div class="container">
      <p>
            Hi! I am Brendan: a dedicated fan of any kind of electronic music that takes the listener on a journey.
            To me this means being put in a trance-like state. I love atmospheric vibes, sophisticated electronic music and trying to find the fringes of different genres.
      </p>
      <p>
            I started this blog as a means of testing my web development skills, but also to share my passion with the world.
            In this blog I will regularly post tracks and mixes that I love from a variety of genres, but the red line will always be rhythm and atmosphere.
            Stay tuned and immerse yourself in my little world.
      </p>
</div>


<%- include("partials/footer") %>