<!DOCTYPE html>
<html>
      <head>
            <title>Music blog</title>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
            <link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
      </head>
      <body>

            <div class="container">
                  <h1>Welcome to my humble music blog</h1>
                  <a class="btn btn-primary btn-large" href="/posts">Explore</a>
            </div>
      </body>
</html>