<%- include("partials/header") %>

            <div id="landing-container">
                  <p>
                        <h1>Wanderlust</h1>
                  </p>
                  <hr>
                  <p>
                        <h1>for enthusiasts of underground</h1>
                        <h1>techno - ambient - dub - experimental</h1>
                        <h1>and everything in between.</h1>
                  </p>
            </div>

<%- include("partials/footer") %>