<!DOCTYPE html>
<html>
      <head>
            <title>Wanderlust - A music blog for connoiseurs of rhythm and ambiance</title>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
            <link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
      </head>
      <body>

            <div class="container">
                  <h1>Wanderlust</h1>
                  <h3>A music blog for connoiseurs of rhythm and ambiance.</h3>
                  <a class="btn btn-outline-secondary btn-lg" href="/posts">Immerse</a>
            </div>
      </body>
</html>