<%- include("partials/header") %>

            <div class="container">
                  <h3>A music blog for connoisseurs of rhythm and ambiance.</h3>
            </div>

<%- include("partials/footer") %>