<%- include("partials/header") %>

            <div id="landing-container">
                  <h1>for enthusiasts of underground</h1>
                  <h1>techno - ambient - dub - experimental</h1>
                  <h1>and everything in between.</h1>
            </div>

<%- include("partials/footer") %>