<%- include("partials/header") %>

<div class="container col-sm-12 col-lg-5">
      <div class="post auth">
            <form action="/login" method="POST">
                        <div class="content">
                              <h3>Log in</h3>
                        </div>
                        <hr class="section-end">
                        <div class="auth-row">
                              <input class="form" type="text" name="username" placeholder="Enter username">
                        </div>
                        <div class="auth-row">
                              <input class="form" type="password" name="password" placeholder="Enter password">
                        </div>
                        <div class="auth-row">
                              <button class="btn btn-outline-success form">Log in</button>
                        </div>
            </form>
      </div>
</div>

<%- include("partials/footer") %>