<%- include("partials/header") %>

<div class="container">

      <div class="blog-post">
            <form action="/posts" method="POST">
                  <div class="blog-post-title">
                        <input class="new-form" type="text" name="title" placeholder="Enter post title">
                  </div>
                  <hr>
                  <div class="blog-post-link">
                        <input class="new-form" type="text" name="link" placeholder="Paste embedded link">
                  </div>
                  <hr>
                  <div class="blog-post-description">
                        <textarea class="edit-field" type="text" name="content" placeholder="Type content"></textarea>
                  </div>
                  <hr>
                  <div class="blog-post-tags">
                        <input class="new-form" type="text" name="tags" placeholder="Add style(s)">
                  </div>
                  <div class="d-flex justify-content-end button-wrapper">
                        <button class="btn btn-outline-success form-btn">Post</button>
                  </div>
            </form>
      </div>
</div>

<%- include("partials/footer") %>