<%- include("partials/header") %>

<h1>new post route</h1> 

<p>
      Create post
      <form action="/posts" method="POST">
            <input type="text" name="content" placeholder="Type content here">
            <button>Post</button>
      </form>
</p>

<a href="/posts">Go back</a>

<%- include("partials/footer") %>