<%- include("partials/header") %>

<h1>signup page</h1>

<form action="/signup" method="POST">
      <input type="text" placeholder="Choose username" name="username">
      <input type="password" placeholder="Choose password" name="password">
      <button class="btn btn-success">Complete</button>
</form>

<%- include("partials/footer") %>