<%- include("partials/header") %>

<div class="container">
      <div class="post auth">
            <form action="/signup" method="POST">
                        <div class="content">
                              <h3>Register</h3>
                        </div>
                        <hr>
                        <div class="auth-row">
                              <input class="form" type="text" placeholder="Choose username" name="username">
                        </div>
                        <div class="auth-row">
                              <input class="form" type="password" placeholder="Choose password" name="password">
                        </div>
                        <div class="auth-row">
                              <button class="btn btn-outline-success form">Sign up</button>
                        </div>
            </form>
      </div>
</div>

<%- include("partials/footer") %>