html {
      height: 100%;
      margin:  0px auto;
      padding: 0px auto;
}

body {
      height: 100%;
      margin:  0px auto;
      padding: 0px auto;
      /* min-height: 100vh; */
      background-image: url("../images/landing.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      
      /* background-attachment: fixed; */
      /* background-position-y: 58%; */
      
      /* border: 2px solid green; */
      /* height: auto; */
}

.container {
      margin: 0 auto;
      width: 50%;
      background-color: rgba(256,256,256,0.6);
      text-align: center;
      top: 20%;
      position: relative;
      height: 400px;
      border-radius: 3px;
}

h1 {
      color: white;
      text-shadow: 1px 1px 2px darkgrey;
      line-height: 250px;
}