
/* ======= */
/* GENERAL */
/* ======= */


html, body {
      height: 100vh;
}

body {
      background: url("../images/background.jpg") top / cover no-repeat fixed;
      font-family: 'Lato', sans-serif;
}

.nav-item a {
      padding: 0px 16px;
      border-bottom: 1px solid transparent;
}
    
.nav-item a:hover {
      border-bottom: 1px solid lightgrey;
}
    
#wrapper {
      background: rgba(256,256,256,0.25);
      min-height: 100%;
      overflow: auto;
}

input, textarea {
      padding: 5px;
}

textarea {
      height: 500px;
}

.form {
      width: 100%;
}

#logout-btn {
      position: fixed;
      bottom: 10px;
      left: 10px;
      color: lightgrey;
      font-size: 20px;
}

#logout-btn:hover {
      font-size: 22px;
}

footer {
      color: #b8b894;
      text-align: end;
      padding: 0 10px 10px 0;
      margin-top: -35px;
}


/* ===== */
/* POSTS */
/* ===== */

h2 {
      font-family: 'Maven Pro', sans-serif;
}

h3 {
      font-size: 40px;
      color: white;
      text-shadow: 1px 1px 2px darkgray;
}

hr {
      width: 80%;
}

.container {
      min-width: 450px;
      max-width: 50%;
      margin-top: 50px;
}

.post {
      padding: 20px 0;
      margin: 50px 0;
      border-radius: 2px;
      background: rgba(256,256,256,0.8);
      box-shadow: 0.5px 0.5px 3px 1px lightgray;
      
      
}

.content {
      padding: 0 20px;
      text-align: center;
}

.desc {
      color: grey;
      padding: 0 50px;
}

pre {
      text-align: left;
      white-space: pre-wrap;
      font-family: 'Lato', sans-serif;
}

.tags {
      color: lightgrey;
}

.btn-container {
      margin-top: 30px;
      width: 100%;
      padding: 0 20px;
}

.form-btn {
      width: 90px;
}



/* ==================== */
/* AUTHENTICATION PAGES */
/* ==================== */


.auth {
      min-width: 350px;
      width: 65%;
      margin: 160px auto 0;
}

.auth-row {
      padding: 10px 20px;
}