
/* ======= */
/* GENERAL */
/* ======= */


html, body {
      height: 100vh;
      margin: 0;
      padding: 0;
      scroll-behavior: smooth;
}

body {
      background: url("../images/background.jpg") top / cover no-repeat fixed;
      font-family: 'Open Sans', sans-serif;
}


/* Brand logo */
figure {
      width: 150px;
      overflow: hidden; 
      margin: 0;
}

figure img {
      display: block;
      width: 100%;
      margin: -36.875% 0;
}

/* Nav */
.navbar {
      background-color: whitesmoke;
      box-shadow: 0.5px 0.5px 3px 1px lightgray;
      height: 4em;
}

.navbar-brand {
      color: darkslategray;
      margin-right: auto
}

.navbar-brand:hover {
      color: rgb(29, 29, 29);
}

.nav-link {
      padding: 0px 16px;
      border-bottom: 1px solid transparent;
      color: lightslategray;
}

.nav-link:hover {
      border-bottom: 1px solid lightgrey;
      color: darkslategray;
}

/* Main content */
#wrapper {
      background: rgba(256,256,256,0.25);
      min-height: 100%;
      overflow: auto;
}

/* Content container */
.container {
      margin: 0 auto;
      padding: 0;
      border-radius: 2px;
      background: rgba(256,256,256,0.85);
      box-shadow: 0.5px 0.5px 3px 1px lightgray;
}

/* Page headers */
.section-title {
      font-family: 'Work Sans', sans-serif;
      text-shadow: 1.5px 1.5px 2px darkslategrey, 0.5px 0.5px 0.5px black;
      color: rgb(250, 250, 250);
      text-align: center;
      padding: 2em 0 60px 0;
      font-size: 54px;
      background: url("../images/turntable.jpg");
      width: 100%;
      box-shadow: 0.5px 0.5px 3px 1px lightgray;
}

.section-end {
      width: 30%;
      color: rgb(133, 168, 109);
      padding-bottom: 20px;
}

/* Individual posts */
.post {
      padding: 20px 10%;
}

.post-end {
      width: 100%;
      border: 0;
      height: 1px;
      background-image: linear-gradient(to right, rgba(160, 160, 160, 0), rgba(156, 156, 156, 0.75), rgba(168, 168, 168, 0));
}

/* Indivual rows in posts */
.content {
      padding: 0 20px;
      text-align: center;
}

/* Post date, author, delete and edit buttons */
.metadata, .fa-edit, .fa-trash {
      color: rgb(172, 172, 172);
}

.metadata {
      font-size: 13px;
}

.admin-button {
      border: none;
      background: inherit;
}

.fa-edit:hover {
      color: rgb(231, 170, 3);
}

.fa-trash:hover {
      color: rgb(221, 10, 10);
}

/* Title and artist headings */
h3, h4 {
      font-family: 'Work Sans', sans-serif;
      text-shadow: 0.7px 0.7px 1px gray;
}

h3 {
      color: rgb(64, 80, 37);
      font-size: 28px;
}

h4 {
      color: rgb(121, 148, 75);
      font-size: 18px;
}

/* Embedded link width override */
iframe {
      width: 100%;
}

/* Post description */
.desc {
      color: rgba(15, 73, 26, 0.767);
      padding: 25px 0 15px 0;
      font-size: 18px;
}

/* Pre-formats text input */
pre {
      text-align: left;
      white-space: pre-wrap;
      font-family: 'Lato', sans-serif;
}

/* View post button */
.show-link {
      color: rgb(74, 92, 42);
      text-shadow: 0.1px 0.1px 0.2px gray;
      font-size: 15px;
}

.show-link:hover {
      text-decoration: none;
      text-shadow: 0.5px 0.5px 1px lightcoral;
      color: rgb(74, 92, 42);
}

/* New and create post input forms */
input, textarea {
      padding: 5px;
}

textarea {
      height: 500px;
}

.form {
      width: 100%;
}

/* Back, Update and Login buttons */
.btn-container {
      margin-top: 30px;
      width: 100%;
      padding: 0 20px;
}

.form-btn {
      width: 90px;
}

.btn-outline-secondary {
      color:rgb(75, 79, 82);
      border: 1px solid rgb(75, 79, 82);
}

.btn-outline-secondary:hover {
      color: whitesmoke;
      background-color: rgb(75, 79, 82);
}

.btn-outline-success {
      color:rgb(63, 112, 63);
      border: 1px solid rgb(63, 112, 63);
}

.btn-outline-success:hover {
      color: whitesmoke;
      background-color: rgb(63, 112, 63);
}

.btn-outline-info {
      color:rgb(20, 72, 110);
      border: 1px solid rgb(20, 72, 110);
}

.btn-outline-info:hover {
      color: whitesmoke;
      background-color: rgb(20, 72, 110);
}

/* Pagination buttons */
.fa-angle-left, .fa-angle-double-left, .fa-angle-right, .fa-angle-double-right {
      color: whitesmoke;
      font-size: 40px;
      padding: 0 30px 50px 30px;
      text-shadow: 0.5px 0.5px 2px black, 0 0 1px gray;
}

.fa-angle-left:hover, .fa-angle-double-left:hover {
      animation: move-left 2s infinite;
}

@-webkit-keyframes move-left {
      0%, 20%, 50%, 80%, 100% {
            -webkit-transform: translateX(0);
      } 40% {
            -webkit-transform: translateX(-10px);
      } 60% {
            -webkit-transform: translateX(-5px);
      }
}

@-moz-keyframes move-left {
      0%, 20%, 50%, 80%, 100% {
            -moz-transform: translateX(0);
      } 40% {
            -moz-transform: translateX(-10px);
      } 60% {
            -moz-transform: translateX(-5px);
      }
}

@keyframes move-left {
      0%, 20%, 50%, 80%, 100% {
            -webkit-transform: translateX(0);
            -moz-transform: translateX(0);
            -ms-transform: translateX(0);
            -o-transform: translateX(0);
            transform: translateX(0);
      } 40% {
            -webkit-transform: translateX(-10px);
            -moz-transform: translateX(-10px);
            -ms-transform: translateX(-10px);
            -o-transform: translateX(-10px);
            transform: translateX(-10px);
      } 60% {
            -webkit-transform: translateX(-5px);
            -moz-transform: translateX(-5px);
            -ms-transform: translateX(-5px);
            -o-transform: translateX(-5px);
            transform: translateX(-5px);
      }
}

.fa-angle-right:hover, .fa-angle-double-right:hover {
      animation: move-right 2s infinite;
}

@-webkit-keyframes move-right {
      0%, 20%, 50%, 80%, 100% {
            -webkit-transform: translateX(0);
      } 40% {
            -webkit-transform: translateX(10px);
      } 60% {
            -webkit-transform: translateX(5px);
      }
}

@-moz-keyframes move-right {
      0%, 20%, 50%, 80%, 100% {
            -moz-transform: translateX(0);
      } 40% {
            -moz-transform: translateX(10px);
      } 60% {
            -moz-transform: translateX(5px);
      }
}

@keyframes move-right {
      0%, 20%, 50%, 80%, 100% {
            -webkit-transform: translateX(0);
            -moz-transform: translateX(0);
            -ms-transform: translateX(0);
            -o-transform: translateX(0);
            transform: translateX(0);
      } 40% {
            -webkit-transform: translateX(10px);
            -moz-transform: translateX(10px);
            -ms-transform: translateX(10px);
            -o-transform: translateX(10px);
            transform: translateX(10px);
      } 60% {
            -webkit-transform: translateX(5px);
            -moz-transform: translateX(5px);
            -ms-transform: translateX(5px);
            -o-transform: translateX(5px);
            transform: translateX(5px);
      }
}

/* Logout button */
#logout-btn {
      position: fixed;
      bottom: 10px;
      left: 10px;
      color: lightgrey;
      font-size: 20px;
      text-shadow: 0.5px 0.5px 2px black, 0 0 1px gray;
}

#logout-btn:hover {
      font-size: 22px;
      transition: ease-in 0.1s;
}

/* Footer */
footer {
      color: lightgrey;
      text-align: end;
      font-size: 15px;
      padding: 0 10px 10px 0;
      margin-top: -35px;
      text-shadow: 0.5px 0.5px 2px black, 0 0 1px gray;
}


/* ==================== */
/* AUTHENTICATION PAGES */
/* ==================== */


.auth {
      min-width: 350px;
      width: 65%;
      margin: 140px auto 0;
}

.auth-row {
      padding: 10px 20px;
}