<%- include("../partials/header") %>

<div class="container col-sm-12 col-lg-7 mb-5">
      <div class="section-title">
            New post
      </div>
      <div class="post">
            <form action="/posts" method="POST">
                  <div class="content pt-3 pb-4">
                        <input class="form" type="text" name="title" placeholder="Enter title">
                  </div>
                  <div class="content pb-4">
                        <input class="form" type="text" name="artist" placeholder="Enter artist">
                  </div>
                  <div class="content pb-4">
                        <input class="form" type="text" name="link" placeholder="Paste embedded link">
                  </div>
                  <div class="content pb-3">
                        <textarea class="form" type="text" name="content" placeholder="Type description"></textarea>
                  </div>
                  <div class="content">
                        <input class="form" type="text" name="tags" placeholder="Add style tags">
                  </div>
                  <div class="d-flex justify-content-end btn-container">
                        <button class="btn btn-outline-success form-btn">Post</button>
                  </div>
            </form>
      </div>
</div>

<%- include("../partials/footer") %>